<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diary.thoughthaven">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activities.Introduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Home"
            android:label="Security Authentication" />
        <activity
            android:name=".Activities.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Passcode" />
        <activity
            android:name=".Activities.NoteActivity"
            android:label="New Note" />
        <activity
            android:name=".Activities.Todo"
            android:label="Todo" />
        <activity
            android:name=".Activities.AddTodoActivity"
            android:label="Add Todo" />

        <provider
            android:name=".data.TaskContentProvider"
            android:authorities="com.diary.thoughthaven"
            android:exported="false" />

        <activity android:name=".Activities.Login"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Register"
            android:label="Register">

        </activity>
        <activity android:name=".Activities.Forgot"></activity>
    </application>

</manifest>